.container{
   width:360px;
   padding:10px;
   margin:auto;
   margin-top:0;
   background:grey;
   text-align:center;
}

.username{
   width:360px;
   padding:10px;
   margin:auto;
   margin-top:0;
   background:grey;
   text-align:center;
}
